body {
  color: black;
  background-color: white;
}

.container-fluid {
  
}

.grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto;
  grid-gap: 5px;
}

.canvas-container {
  padding: none;
  background-color: aliceblue;
}

.one {
  background-color: purple;
}

.two {
  background-color: mediumspringgreen;
}

.three {
  background-color: navy;
}

.four {
  background-color: pink;
}
