body {
  color: black;
  background-color: white;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1vw);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.canvas-container {
  padding: none;
  background-color: aliceblue;
}

.one {
  background-color: black;
}

.two {
  background-color: mediumspringgreen;
}

.three {
  background-color: navy;
}

.four {
  background-color: pink;
}
